@model estudent.Models.InfoBoxViewData

@{
    ViewBag.Title = "Podaci studenta";
}

<h2>Podaci studenta</h2>

<div>
    <h4>Student</h4>
    <hr />

    @Html.Partial("_InfoBox")


</div>
<p>
    @Html.ActionLink("Izmeni", "Edit", new { id = Model.selectedStudent.ID }) |
    @Html.ActionLink("Nazad na listu", "Index")
</p>
