@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bulevar kralja Aleksandra 73<br />
    Beograd, Srbija<br />
    <abbr title="Phone">P:</abbr>
    555-333
</address>

<address>
    <strong>Tehnička podrška:</strong>   <a href="mailto:tp@example.com">tp@example.com</a><br />
    <strong>Studentska služba:</strong> <a href="mailto:ssluzba@example.com">ssluzba@example.com</a>
</address>