@{
    ViewBag.Title = "Naslovna strana";
}

<div class="jumbotron">
    <h1>eStudent</h1>
    <p class="lead">Studentski servis omogućava jednostavno upravljanje evidencijom studenata
            i položenih ispita. Pruža osnovnu maniuplaciju nad podacima u MSSQL bazi.</p>
    <p><a href="~/Student" class="btn btn-primary btn-lg">Testiraj &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Automatsko generisanje</h2>
        <p>
           ASP.NET podržava automatsko generisanje MVC Modela na osnovu postojeće baza podataka. Sam generiše Klase koje odgovaraju tabelama i kontekst-klasu za pristupanje zadatoj bazi.
           ASP.NET Automatski pri dodavanju kontrolera nad odredjenim Modelom podatka sam generiše View stranice sa CRUD funkcionalnošću.
        </p>
        <p><a class="btn btn-default" href="https://msdn.microsoft.com/en-us/library/jj200620(v=vs.113).aspx">Automatski model &raquo;</a></p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/introduction/accessing-your-models-data-from-a-controller">Automatski kontroler i pogledi &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sors kod</h2>
        <p>Verzionisanje sors koda sajta se izvodi javno preko github-a.</p>
        <p><a class="btn btn-default" href="https://github.com/dusan-popovic/estudent">GitHub projekat &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting i domen</h2>
        <p>Web hosting i domen ovog sajta je realizovan zahvaljujući <a href="https://www.gearhost.com">gearhost.com</a> koji besplatno pruža te usluge do određenih limita.</p>
        <p><a class="btn btn-default" href="https://www.gearhost.com">Poseti Gear Host &raquo;</a></p>
    </div>
</div>